email=rick_y_song@manulife.com
always-auth = true
registry=https://artifactory.platform.manulife.io/artifactory/api/npm/npm
phantomjs_cdnurl=https://artifactory.platform.manulife.io/artifactory/npm/phantomjs/v2.1.1
canvas_binary_host_mirror=https://artifactory.platform.manulife.io/artifactory/npm/node-canvas-prebuilt/
color=true